extends layout

block content
  .inner
    h2= title
    form(action="/form", method="post")
      .form-item
        label(for="name") Enter your name
        input(type="text" name="name" id="name" required)
      .form-item
        input(type="submit", value="Subscribe")